#nav-link{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #60c17d;
    font-weight: bold;
    border-bottom: 3px solid rgba(0,0,0,0);
    font-size: 1.5rem;
    line-height: 120%;
}

#nav-link:hover{
    border-bottom: 3px solid #60c17d;
    color: #60c17d;
}

#nav-link-after {
    color: #60c17d;
    font-weight: bold;
    border-bottom: 3px solid rgba(0,0,0,0);
    font-size: 1.5rem;
}

#nav-link-after::before {
    content: "●";
    padding: 16px;
    color: black;
    overflow: hidden;
}
