#nav-link{
    margin: 10px;
    color: #60c17d;
    font-weight: bold;
    border-bottom: 3px solid rgba(0,0,0,0);
    font-size: 1.25rem;
}

#nav-link:hover{
    border-bottom: 3px solid #60c17d;
    color: #60c17d;
}